.header{
    background: transparent;
    display: flex;
    justify-content: center;
    /*padding para distanciar a imagem 
    dentro do header*/
    padding: 3rem 0;
}

.header img{
    height: 2rem;
}