body {
  font-family: Arial;
  background-color: var(--white-100);
  padding: 0px;
  color: var(--white-100);
  background-image: url('./img/todo.png');
  background-position: center;
  background-size: cover;
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: transparent;
  padding: 0px 30px;
}

button {
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

button:hover {
  opacity: 1;
}

.todo {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  background-color:var(--gray-500);
}

.todo-content {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.todo p {
  padding: 5px;
  margin: 0;
  flex: 1; 
}

button.complete {
  background-color: transparent;
  color: var(--blue-100);
  margin-right: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

button.remove {
  margin: 0;
  margin-left: auto;
  background-color: transparent;
  color: var(--gray-200);
  align-items: center;
  justify-content: center;
  display: flex;
}

.todo-counter {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.todo-counter h3 {
  margin: 0;
  font-size: 0.80rem;
  color: var(--blue-100);
}

.todo-counter h2 {
  margin: 0;
  font-size: 0.80rem;
  color: var(--purple-100);
}

.counter-created {
  padding: 2px 8px;
  color: var(--white-100);
  font-weight: bold;
  background-color: var(--gray-400);
  border-radius: 10px;
}


.counter-completed {
  padding: 2px 8px;
  color: var(--white-100);
  font-weight: bold;
  background-color: var(--gray-400);
  border-radius: 10px;
}

.todo-form {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 60px;
}

.todo-input {
  flex: 1; 
  padding: 15px;
  font-size: 1rem;
  border: 1px solid var(--gray-400);
  border-radius: 6px;
  background-color: var(--gray-400);
  border: 1px solid #000000;
  color: var(--white-100);
  margin: 0;
  
}

.todo-button {
  margin: 0;
  padding: 15px 20px;
  font-size: 1rem;
  background-color: var(--white-100);
  color: var(--purple-200);
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 0.2rem;
}

.empty-state {
  text-align: center;
  margin-top: 2rem;
}

.empty-icon {
  color: var(--gray-400);
  margin-top: 30px;
}

.empty-message {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--gray-300);
}

.empty-instruction {
  font-size: 1rem;
  color: var(--gray-300);
}
